@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
taxtarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Montserrat;
  height: 100dvh;
  overflow: hidden;
  color: #fff;
  background-color: #000;
}

a,
button,
li,
.gallery-card {
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  height: 100dvh;
  position: relative;
  background: url("../img/bg/site-bg.webp") no-repeat 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.wrapper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 154, 84, 0.9);
  z-index: 1;
}

.title {
  color: #fff;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1200px) {
  .title {
    font-size: calc(26px + 20 * (100vw - 320px) / 880);
  }
}

.button {
  width: 230px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  position: relative;
}

@media (max-width: 767.98px) {
  .button {
    width: 160px;
    height: 46px;
  }
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #C19953;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

.button:hover::before {
  -webkit-transform: scaleY(1.03) scaleX(1.02);
  transform: scaleY(1.03) scaleX(1.02);
}

.button_filled {
  background-color: #C19953;
}

.main {
  z-index: 15;
}

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 22px;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  z-index: 9999 !important;
}

.main-header {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 22px;
  position: fixed;
  top: 60px;
  z-index: 999999 !important;
  right: 0;
}

@media (max-width: 567.98px) {
  .main-header {
    margin-top: -40px;
  }
}

@media (max-width: 480px) {
  .main-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    gap: 22px;
    padding-right: 15px;
    margin-top: -40px;
  }
}

.main-header__logo {
  max-width: 168px;
  width: 100%;
  transition: all .4s;
  transition-property: visibility, opacity;
  z-index: 9999 !important;
  position: relative;
}

.main-header__logo.is-hide {
  visibility: hidden;
  opacity: 0;
}

@media (max-height: 800px) {
  .main-header__logo {
    max-width: 110px;
  }
}

@media (max-height: 700px) {
  .main-header__logo {
    max-width: 90px;
  }
}

@media (max-width: 1000px) {
  .main-header__logo {
    max-width: calc(52px + 116 * (100vw - 567.98px) / 632.02);
  }
}

@media (max-width: 567.98px) {
  .main-header__logo {
    max-width: 46px;
  }
}

.main-header__logo img {
  width: 100%;
}

.main-header__lang-list {
  padding: 0 30px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1em;
}

@media (max-width: 480px) {
  .main-header__lang-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 0;
  }
}

.main-header__lang {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-transition: color ease 0.4s, opacity ease 0.2s;
  transition: color ease 0.4s, opacity ease 0.2s;
}

.main-header__lang:hover {
  opacity: 0.6;
}

.main-header__lang_current {
  color: #C19953;
  pointer-events: none;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  left: 20px;
  top: 60px;
  -webkit-transition: top ease 0.4s, margin ease 0.4s, opacity ease 0.4s;
  transition: top ease 0.4s, margin ease 0.4s, opacity ease 0.4s;
}

@media (max-width: 567.98px) {
  .header-navigation.other {
    top: 20px;
    margin-top: 0vh;
  }
}

.header-navigation.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 567.98px) {
  .header-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .header-navigation {
    margin-top: 8vh;
  }
}

.header-navigation__burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 6px;
  width: 44px;
  background-color: transparent;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-navigation__burger-btn.active span:first-child {
  width: 78%;
}

.header-navigation__burger-btn span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: width ease 0.4s;
  transition: width ease 0.4s;
}

.header-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 55;
}

@media (min-width: 567.98px) {
  .header-navigation__list {
    margin-top: -11px;
  }
}

.header-navigation__list li {
  overflow: hidden;
  line-height: 0%;
  opacity: 0;
}

.header-navigation__list.active li {
  line-height: 100%;
  opacity: 1;
}

.header-navigation__el {
  color: #000;
  font-family: Montserrat;
  font-size: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: font-size ease 0.2s, color ease 0.4s, line-height cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s, opacity cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
  transition: font-size ease 0.2s, color ease 0.4s, line-height cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s, opacity cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .header-navigation__el {
    font-size: calc(20px + 16 * (100vw - 320px) / 1080);
  }
}

.header-navigation__el:hover {
  color: #444;
}

.header-navigation__el.bronze {
  color: #C19953;
}

.header-navigation__el.bronze:hover {
  color: #795f34;
}

.header-navigation__el_current {
  color: #fff !important;
  font-size: 46px;
  pointer-events: none;
}

@media (max-width: 1400px) {
  .header-navigation__el_current {
    font-size: calc(24px + 22 * (100vw - 320px) / 1080);
  }
}

.main {
  position: relative;
}

.main__general-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 991.98px) {
  .main__general-bg {
    left: auto;
    right: 0;
    width: 110%;
  }
}

@media (min-height: 1301px) and (max-width: 991.98px) and (min-width: 900px) {
  .main__general-bg {
    width: 150%;
  }
}

@media (max-width: 867.98px) {
  .main__general-bg {
    width: 150%;
  }
}

@media (max-width: 767.98px) {
  .main__general-bg {
    width: 120%;
  }
}

@media (max-width: 667.98px) {
  .main__general-bg {
    width: 140%;
  }
}

@media (max-width: 567.98px) {
  .main__general-bg {
    width: 140%;
    right: auto;
    left: 0;
  }
}

@media (max-width: 480px) {
  .main__general-bg {
    height: 60%;
  }
}

.main__general-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
  z-index: 10;
}

@media (min-height: 1301px) and (max-width: 991.98px) and (min-width: 900px) {
  .main__general-bg img {
    -webkit-transform: translateX(50vw) !important;
    transform: translateX(50vw) !important;
  }
}

@media (max-width: 991.98px) {
  .main__general-bg img {
    -o-object-position: top right;
    object-position: top right;
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
}

@media (max-width: 867.98px) {
  .main__general-bg img {
    -webkit-transform: translateX(50vw);
    transform: translateX(50vw);
  }
}

@media (max-width: 767.98px) {
  .main__general-bg img {
    -webkit-transform: translateX(20vw);
    transform: translateX(20vw);
  }
}

@media (max-width: 667.98px) {
  .main__general-bg img {
    -webkit-transform: translateX(30vw);
    transform: translateX(30vw);
  }
}

@media (max-width: 567.98px) {
  .main__general-bg img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -o-object-position: top center;
    object-position: top center;
  }
}

.main__decor {
  position: absolute;
  top: 40px;
  left: 8.67%;
  width: 43.47%;
  z-index: 1;
}

@media (max-width: 1650px) {
  .main__decor {
    left: auto;
    right: 48.87%;
    width: auto !important;
    height: 67.75vh;
  }
}

@media (max-width: 480px) {
  .main__decor {
    height: 27.75vh;
    top: 90px;
  }
}

.main__decor-line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100dvh;
  background-color: #fff;
  opacity: 0.1;
  z-index: 999;
  pointer-events: none;
}

@media (max-width: 480px) {
  .main__decor-line {
    display: none;
  }
}

.main__decor-line_left {
  left: 26.13%;
}

@media (max-width: 991.98px) {
  .main__decor-line_left {
    left: 32%;
  }
}

@media (max-width: 767.98px) {
  .main__decor-line_left {
    left: 38%;
  }
}

.main__decor-line_right {
  right: 80px;
}

.main__decor-line_middle {
  left: 162px;
}

@media (max-width: 767.98px) {
  .main__decor-line_middle {
    display: none;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 100dvh;
  width: 100%;
  position: relative;
  z-index: 15;
}

.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 65vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(38.28%, #000), to(#000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 38.28%, #000 100%);
  display: block;
  z-index: 999;
}

@media (min-width: 480px) {
  .home::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .home .article {
    margin-bottom: 220px;
  }
}

.site-actions {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.site-actions.active {
  z-index: 999999;
}

.site-actions__location iframe {
  height: 350px !important;
  -webkit-filter: grayscale(80%) brightness(0.8);
  filter: grayscale(80%) brightness(0.8);
}

.site-actions__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 22px;
  padding: 0 24px;
  min-height: 80px;
  min-width: 376px;
  -webkit-transition: background-color ease 0.4s;
  transition: background-color ease 0.4s;
  z-index: 99;
  position: relative;
}

.site-actions__button.site-actions__button_light{
  justify-content: center;
}

@media (max-width: 1200px) {
  .site-actions__button {
    min-height: calc(56px + 24 * (100vw - 320px) / 880);
  }
}

@media (max-width: 767.98px) {
  .site-actions__button {
    min-width: calc(280px + 96 * (100vw - 320px) / 447.98);
  }
}

@media (max-width: 480px) {
  .site-actions__button {
    min-width: calc(100vw - 40px);
  }
}

.site-actions__button.active .site-actions__button-icon {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.site-actions__button_dark {
  background-color: #000;
  color: #fff;
  margin-left: 8.4vw;
}

@media (max-width: 1300px) {
  .site-actions__button_dark {
    margin-left: 20px;
  }
}

.site-actions__button_dark:hover {
  background-color: #111;
}

.site-actions__button_light {
  background-color: #fff;
  color: #000;
  margin-left: 14.8vw;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -75px;
  margin-top: -5px;
  position: relative;
  z-index: 99;
}

@media (max-width: 1300px) {
  .site-actions__button_light {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .site-actions__button_light {
    margin-bottom: -15px;
  }
}

.site-actions__button_light path {
  fill: #000;
}

.site-actions__button_light .site-actions__button-text {
  color: #000;
}

.site-actions__button_light:hover {
  background-color: #e5e5e5;
}

.site-actions__button-icon {
  width: 30px;
  display: block;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

@media (max-width: 767.98px) {
  .site-actions__button-icon {
    width: calc(20px + 10 * (100vw - 320px) / 447.98);
  }
}

.site-actions__button-icon svg {
  width: 100% !important;
}

.site-actions__button-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .site-actions__button-text {
    font-size: calc(24px + 12 * (100vw - 320px) / 880);
  }
}

.location-body {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height ease 0.4s, margin ease 0.4s;
  transition: height ease 0.4s, margin ease 0.4s;
  position: relative;
}

.location-body.active {
  height: 350px;
}

@media (max-width: 1200px) {
  .location-body.active {
    height: calc(280px + 70 * (100vw - 767.98px) / 432.02);
  }
}

@media (max-width: 767.98px) {
  .location-body.active {
    height: calc(240px + 110 * (100vw - 320px) / 447.98);
  }
}

@media (max-width: 480px) {
  .location-body.active {
    margin-bottom: -45px;
  }
}

.location-body__map {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.location-body__map::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.location-body__map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.location-body__body {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 8.4vw;
  gap: 20px;
}

@media (max-width: 480px) {
  .location-body__body {
    -webkit-transform: translateY(-64%);
    transform: translateY(-64%);
  }
}

@media (max-width: 1300px) {
  .location-body__body {
    left: 20px;
  }
}

.location-body__address {
  color: #fff;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  padding-left: 36px;
}

@media (max-width: 1200px) {
  .location-body__address {
    padding-left: calc(12px + 24 * (100vw - 320px) / 880);
    font-size: calc(14px + 7 * (100vw - 320px) / 880);
  }
}

.location-body .real-map {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
  opacity: 0;
  pointer-events: none;
}

.location-body .real-map.active {
  opacity: 1;
  pointer-events: all;
}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 14px;
}

.schedule__title {
  color: #C19953;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .schedule__title {
    font-size: calc(14px + 2 * (100vw - 320px) / 880);
  }
}

.schedule__body {
  padding-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .schedule__body {
    padding-left: calc(12px + 24 * (100vw - 320px) / 880);
  }
}

.schedule__row {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1200px) {
  .schedule__row {
    font-size: calc(14px + 2 * (100vw - 320px) / 880);
  }
}

.schedule__day {
  color: #C19953;
}

.reservation-body {
  height: 102px;
  background-color: #000;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: height ease 0.4s;
  transition: height ease 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 767.98px) {
  .reservation-body {
    height: 76px;
  }
}

@media (max-width: 480px) {
  .reservation-body {
    height: 20px;
  }
}

.reservation-body.active {
  height: 452px;
}

@media (min-width: 767.98px) {
  .reservation-body.active .reservation-body__preview-img {
    margin-bottom: 20px;
  }
}

.reservation-body.active .reservation-body__form {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

@media (max-width: 767.98px) {
  .reservation-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.reservation-body__body {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding-top: 102px;
  padding-left: 8.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 1300px) {
  .reservation-body__body {
    padding-left: 20px;
  }
}

@media (max-width: 1024px) {
  .reservation-body__body {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 54%;
    flex: 0 0 54%;
  }
}

@media (max-width: 991.98px) {
  .reservation-body__body {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
}

@media (max-width: 767.98px) {
  .reservation-body__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px;
  }
}

.reservation-body__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}

@media (max-width: 991.98px) {
  .reservation-body__preview {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
  }
}

@media (max-width: 767.98px) {
  .reservation-body__preview {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    height: 120px;
  }
}

.reservation-body__preview-img {
  width: 100%;
  margin-bottom: 0px;
  -webkit-transition: margin ease 0.4s;
  transition: margin ease 0.4s;
}

@media (max-width: 991.98px) {
  .reservation-body__preview-img {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .reservation-body__preview-img {
    display: block;
  }
}

.reservation-body__preview-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.reservation-body__share {
  width: 80px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #C19953;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 26px;
}

@media (max-width: 767.98px) {
  .reservation-body__share {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .reservation-body {
    gap: 20px;
  }
}

.reservation-body__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
  -webkit-transition: opacity ease 0.4s, -webkit-transform ease 0.4s;
  transition: opacity ease 0.4s, -webkit-transform ease 0.4s;
  transition: transform ease 0.4s, opacity ease 0.4s;
  transition: transform ease 0.4s, opacity ease 0.4s, -webkit-transform ease 0.4s;
}

@media (max-width: 767.98px) {
  .reservation-body__form {
    gap: calc(14px + 6 * (100vw - 320px) / 447.98);
  }
}

.reservation-body__select-input {
  height: 60px;
  padding: 0 35px;
  color: #000;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  width: 100%;
}

.reservation-body__hidden-input {
  display: none;
}

.reservation-body__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 767.98px) {
  .reservation-body__block {
    gap: calc(14px + 6 * (100vw - 320px) / 447.98);
  }
}

.reservation-body__title {
  color: #C19953;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.reservation-body__paragraph {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  max-width: 440px;
  line-height: 120%;
}

@media (max-width: 767.98px) {
  .reservation-body__paragraph {
    font-size: calc(14px + 2 * (100vw - 320px) / 447.98);
  }
}

.reservation-body__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 12px;
}

@media (max-width: 1200px) {
  .reservation-body__buttons {
    gap: 30px;
  }
}

@media (max-width: 767.98px) {
  .reservation-body__buttons {
    gap: 20px;
    row-gap: 6px;
  }
}

.reservation-body__button {
  width: 230px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  position: relative;
}

@media (max-width: 767.98px) {
  .reservation-body__button {
    width: 130px;
    height: 42px;
  }
}

.reservation-body__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #C19953;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

.reservation-body__button:hover::before {
  -webkit-transform: scaleY(1.03) scaleX(1.02);
  transform: scaleY(1.03) scaleX(1.02);
}

.reservation-body__button_filled {
  background-color: #C19953;
}

.success-message,
.error-message {
  font-size: 20px;
  padding: 12px 18px;
  font-weight: 700;
  display: none;
}

.success-message.active,
.error-message.active {
  display: block;
}

.success-message {
  border: 2px solid rgb(111, 216, 88);
  color: rgb(111, 216, 88);
}

.error-message {
  border: 2px solid rgb(215, 79, 74);
  color: rgb(215, 79, 74);
}

#res-form.hidden {
  display: none;
}

.article {
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto 80px 160px auto;
  max-width: 530px;
  width: 36vw;
  position: relative;
  padding-right: 130px;
}

@media (max-width: 1500px) and (min-width: 1200px) {
  .article.news__article {
    padding-right: calc(20px + 90 * (115vw - 991.98px) / 508.02);
    margin-right: 15vw;
  }
}

@media (max-width: 1200px) and (max-height: 630px) {
  .article {
    padding-right: calc(130px + 90 * (100vw - 991.98px) / 508.02);
  width: 40vw;
  }
}

@media (max-width: 1100px) and (max-height: 630px) {
  .article {
    padding-right: calc(140px + 90 * (100vw - 991.98px) / 508.02);
  width: 43vw;
  }
}

@media (max-width: 991.98px) {
  .article {
    width: 46vw;
    padding-right: calc(20px + 90 * (100vw - 767.98px) / 224);
  }
}

@media (max-width: 867.98px) {
  .article {
    width: 64vw;
    padding: 0;
    max-width: 700px;
    margin-right: 10px;
    margin-bottom: 180px;
  }
}

@media (max-width: 767.98px) {
  .article {
    width: 80vw;
  }
}

@media (max-width: 480px) {
  .article {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 150px;
  }
}

.article__body {
  padding-left: 4px;
}

@media (max-width: 991.98px) {
  .article__body {
    padding-left: calc(20px + 44 * (100vw - 480px) / 511.98);
  }
}

@media (max-width: 480px) {
  .article__body {
    padding-left: 0px;
  }
}

.article__subtitle {
  color: #C19953;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.5em;
}

@media (max-width: 1200px) {
  .article__subtitle {
    font-size: calc(14px + 2 * (100vw - 320px) / 880);
  }
}

.article__paragraph {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}

@media (max-width: 1200px) {
  .article__paragraph {
    font-size: calc(14px + 2 * (100vw - 320px) / 880);
  }
}

.article__paragraph .bronze {
  color: #C19953;
}

.article__paragraph a {
  color: #fff;
}

.article__paragraph a:hover {
  text-decoration: underline;
}

.article__text-decor {
  color: #fff;
  font-family: Montserrat;
  font-size: 146px;
  font-weight: 600;
  opacity: 0.1;
  position: absolute;
  bottom: 0px;
  right: 0px;
  white-space: nowrap;
  text-transform: capitalize;
  pointer-events: none;
}

@media (max-width: 1500px) {
  .article__text-decor {
    font-size: calc(82px + 64 * (100vw - 320px) / 1180);
  }
}

@media (max-width: 567.98px) {
  .article__text-decor {
    display: none;
  }
}

.article__link {
  color: #c19953;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}

.article__link:hover {
  text-decoration: none;
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 99;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.gallery.current {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.gallery-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .gallery-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 102px;
  }
}

@media (max-width: 767.98px) {
  .gallery-wrapper {
    padding-top: 200px;
    padding-top: calc(170px + 30 * (100vw - 320px) / 447.98);
  }
}

.gallery-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 100dvh;
  -webkit-transition: width ease 0.4s;
  transition: width ease 0.4s;
}

@media (min-width: 991.98px) {
  .gallery-card:hover {
    width: 110%;
  }
}

.gallery-card:hover .gallery-card__bg::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.gallery-card:hover .gallery-card__bg {
  width: 110%;
  -webkit-transform: translateX(-5%);
  transform: translateX(-5%);
}

.gallery-card:hover .gallery-card__button {
  width: 116px;
}

.gallery-card:hover .gallery-card__content {
  gap: 100px;
}

@media (max-width: 1200px) {
  .gallery-card:hover .gallery-card__content {
    gap: calc(40px + 60 * (100vw - 991.98px) / 208.02);
  }
}

@media (max-width: 1200px) {
  .gallery-card:hover .gallery-card__content {
    gap: calc(20px + 80 * (100vw - 320px) / 671.98);
  }
}

.gallery-card__bg {
  width: 100%;
  height: 100%;
  -webkit-transition: width ease 0.4s, -webkit-transform ease 0.4s;
  transition: width ease 0.4s, -webkit-transform ease 0.4s;
  transition: width ease 0.4s, transform ease 0.4s;
  transition: width ease 0.4s, transform ease 0.4s, -webkit-transform ease 0.4s;
}

.gallery-card__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.gallery-card__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color ease 0.4s;
  transition: background-color ease 0.4s;
}

.gallery-card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0px;
  -webkit-transition: gap ease 0.4s;
  transition: gap ease 0.4s;
}

.gallery-card__button {
  overflow: hidden;
  width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 22px;
  -webkit-transition: width ease 0.4s;
  transition: width ease 0.4s;
}

.gallery-card__button-text {
  width: 54px;
  line-height: 120%;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.menu.current {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.menu__slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 100px;
}

@media (max-width: 767.98px) {
  .menu__slider {
    padding-top: 200px;
    padding-top: calc(170px + 30 * (100vw - 320px) / 447.98);
    padding-bottom: 200px;
  }
}

.menu__slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.menu__article {
  position: relative;
  z-index: 99;
  margin-top: auto;
  max-width: 725px;
  padding-right: 125px;
  margin-bottom: 200px;
  width: 70vw;
}

@media (max-width: 567.98px) {
  .menu__article {
    width: 100vw;
    padding: 0 10px;
    margin-bottom: 140px;
  }
}

.menu__article .article__text-decor {
  bottom: -20px;
}

.menu__article button {
  margin-top: 25px;
}

.menu-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.menu-wrapper .menu-slide-bg {
  width: 100%;
  height: 100%;
}

.menu-wrapper .menu-slide-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.catalog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  background-color: #000;
}

.catalog-gallery .catalog__header {
  padding-right: 320px;
}

@media (max-width: 991.98px) {
  .catalog-gallery .catalog__header {
    padding-right: 27vw;
  }
}

@media (max-width: 767.98px) {
  .catalog-gallery .catalog__header {
    padding-right: 30vw;
  }
}

@media (max-width: 567.98px) {
  .catalog-gallery .catalog__header {
    padding-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.catalog.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.catalog__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  overflow: auto;
}

.catalog__wrapper::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg/site-bg.webp") no-repeat 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

.catalog__header {
  padding: 35px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  gap: 22vw;
}

@media (max-width: 567.98px) {
  .catalog__header {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .catalog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
  }
}

.catalog__return-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 18px;
  color: #C19953;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
}

.catalog__return-btn:hover img {
  -webkit-transform: translateX(4px) rotate(180deg);
  transform: translateX(4px) rotate(180deg);
}

.catalog__return-btn img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

.catalog__body {
  padding-left: 162px;
  width: 76vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .catalog__body {
    width: 70vw;
  }
}

@media (max-width: 767.98px) {
  .catalog__body {
    padding-left: 20px;
    width: 68vw;
  }
}

@media (max-width: 667.98px) {
  .catalog__body {
    width: 70%;
  }
}

@media (max-width: 567.98px) {
  .catalog__body {
    width: 100%;
    padding-right: 20px;
  }
}

.catalog__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.catalog__category-decor {
  height: 30px;
  width: 100%;
  padding-left: 126px;
  border: 1px solid #C19953;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 28px;
  color: #c19953;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1200px) {
  .catalog__category-decor {
    padding-left: calc(36px + 90 * (100vw - 767.98px) / 432.02);
  }
}

@media (max-width: 767.98px) {
  .catalog__category-decor {
    padding-left: 40px;
  }
}

.catalog__list {
  padding-left: 110px;
  max-width: 80%;
  width: 100%;
  max-height: 32em;
  overflow: hidden;
}

@media (max-width: 1500px) {
  .catalog__list {
    padding-left: calc(0px + 110 * (100vw - 1200px) / 300);
  }
}

@media (max-width: 1200px) {
  .catalog__list {
    padding-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 567.98px) {
  .catalog__list {
    max-height: 22em;
  }
}

.catalog__list.active {
  height: 100%;
  max-height: 1000em;
  overflow: visible;
}

.catalog__list div {
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 193.75%;
  padding-left: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .catalog__list div {
    padding-left: calc(40px + 60 * (100vw - 767.98px) / 432.02);
  }
}

@media (max-width: 767.98px) {
  .catalog__list div {
    padding-left: 40px;
  }
}

@media (max-width: 567.98px) {
  .catalog__list div {
    padding: 0 20px;
  }
}

.catalog__list span {
  display: inline-block;
  position: relative;
  font-size: 16px;
}

.catalog__list span::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0.7em;
  left: -10px;
}

.catalog__more-btn {
  margin: 0 auto;
  background-color: transparent;
  -webkit-transition: opacity ease 0.4s, -webkit-transform ease 0.4s;
  transition: opacity ease 0.4s, -webkit-transform ease 0.4s;
  transition: opacity ease 0.4s, transform ease 0.4s;
  transition: opacity ease 0.4s, transform ease 0.4s, -webkit-transform ease 0.4s;
}

.catalog__more-btn:hover {
  opacity: 0.6;
}

.catalog__more-btn.active {
  -webkit-transform: scaleY(-1) translateY(50px) translateX(-50%);
  transform: scaleY(-1) translateY(50px) translateX(-50%);
  position: fixed;
  bottom: 0;
  left: 50%;
}

.slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

@media (max-width: 767.98px) {
  .slider-navigation {
    gap: 12px;
  }
}

.gallery-btn-prev {
  -webkit-transform: rotate(180deg) translateY(4px);
  transform: rotate(180deg) translateY(4px);
}

@media (max-width: 767.98px) {
  .gallery-btn-prev {
    -webkit-transform: rotate(180deg) translateY(8px);
    transform: rotate(180deg) translateY(8px);
  }
}

@media (max-width: 567.98px) {
  .gallery-btn-prev {
    -webkit-transform: rotate(180deg) translateY(6px);
    transform: rotate(180deg) translateY(6px);
  }
}

.gallery-btn-prev,
.gallery-btn-next {
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
  cursor: pointer;
  background-color: transparent;
  display: block;
}

.gallery-btn-prev:hover,
.gallery-btn-next:hover {
  opacity: 0.6;
}

@media (max-width: 767.98px) {

  .gallery-btn-prev,
  .gallery-btn-next {
    width: 28px;
  }

  .gallery-btn-prev img,
  .gallery-btn-next img {
    width: 100%;
  }
}

@media (max-width: 567.98px) {

  .gallery-btn-prev,
  .gallery-btn-next {
    width: 34px;
  }
}

.catalog-gallery__slider {
  height: 74vh;
  z-index: 999;
}

@media (max-width: 767.98px) {
  .catalog-gallery__slider {
    height: 64vh;
  }
}

.catalog-gallery__slider .swiper-wrapper {
  width: 100%;
  scroll-snap-align: start;
}

.catalog-gallery .swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}

.catalog-gallery .catalog__body {
  width: calc(100vw - 320px);
}

@media (max-width: 991.98px) {
  .catalog-gallery .catalog__body {
    width: 73vw;
  }
}

@media (max-width: 767.98px) {
  .catalog-gallery .catalog__body {
    width: 70vw;
  }
}

@media (max-width: 567.98px) {
  .catalog-gallery .catalog__body {
    width: 100%;
  }
}

.catalog-gallery .catalog__header {
  gap: 10vw;
}

@media (max-width: 1500px) {
  .catalog-gallery .catalog__header {
    gap: 2vw;
  }
}

.catalog-gallery .catalog__title {
  padding-left: 20vw;
}

@media (max-width: 1200px) {
  .catalog-gallery .catalog__title {
    padding-left: 14vw;
  }
}

@media (max-width: 991.98px) {
  .catalog-gallery .catalog__title {
    padding-left: 4vw;
  }
}

@media (max-width: 767.98px) {
  .catalog-gallery .catalog__title {
    padding-left: 1vw;
  }
}

.catalog-gallery__slide {
  height: 30vh;
  width: 40%;
  margin-top: auto;
  -webkit-transition: width ease 0.4s, height ease 0.4s;
  transition: width ease 0.4s, height ease 0.4s;
}

.catalog-gallery__slide.swiper-slide-active {
  height: 74vh;
  width: 100%;
}

@media (max-width: 767.98px) {
  .catalog-gallery__slide {
    height: 64vh;
  }
  
  .catalog-gallery__slide.swiper-slide-active {
    height: 64vh;
  }
}

.catalog-gallery__slide.swiper-slide-next {
  -webkit-transition: width ease 0.4s, height ease 0.4s !important;
  transition: width ease 0.4s, height ease 0.4s !important;
}

.catalog-gallery__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.press {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 101;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  padding-bottom: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.press.current {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.news__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.news__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}

.news__article {
  max-width: 820px;
  width: 100%;
}

.news__article .article__title {
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .news__article{
    max-width: 700px;
  }
}

@media (max-width: 480px) {
  .news__article .article__title {
    margin: 0;
  }
}

.news__article .article__body {
  padding: 0;
}

.news__article .article__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .news__article .article__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
  }
}

@media (max-width: 667.98px) {
  .news__article {
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .news__article {
    margin-bottom: 40px;
  }
}

.news-wrapper {
  height: 100%;
  position: relative;
  background: url("../img/interior/img.webp") no-repeat 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.news-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.news-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  padding-left: 20px;
  opacity: 0 !important;
}

.news-slide.swiper-slide-active {
  opacity: 1 !important;
}

@media (max-width: 667.98px) {
  .news-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .news-slide {
    padding-left: 0;
    padding-right: 10px;
  }
}

.news-slide__preview {
  width: 350px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 190px;
  position: relative;
  overflow: hidden;
  border: 1px solid #C19953;
}

@media (max-width: 480px) {
  .news-slide__preview {
    width: 100%;
  }
}

.news-slide__preview:hover::after {
  opacity: 0;
}

.news-slide__preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
}

.news-slide__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.news-slide__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1em;
  line-height: 130% !important;
}

.news-slide__article p {
  margin: 0 !important;
}

.news-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 767.98px) {
  .news-navigation {
    gap: 12px;
  }
}

.contacts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 102;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  padding-bottom: 100px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.contacts__title {
  max-width: 200px;
  -webkit-filter: contrast(1);
  filter: contrast(1);
}

@media (max-width: 991.98px) {
  .contacts__title {
    max-width: 100%;
  }
}

.contacts.current {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.contacts__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.contacts__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}

.contacts-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

@media (max-width: 480px) {
  .contacts-wrapper {
    padding-left: 10px;
  }
}

.contacts-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

@media (min-width: 867.98px) {
  .contacts-wrapper::after {
    display: none;
  }
}

.offers {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 102;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  overflow: hidden;
}

.offers:not(.current) {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.offers-card {
  font-weight: 600;
  color: #fff;
  position: relative;
}

.offers-card__header {
  margin: 0 0 18px;
  display: flex;
}

.offers-card__date {
  margin: 4px 40px 0 0;
  flex-shrink: 0;
  font-size: 13px;
  align-self: flex-start;
}

.offers-card__date span {
  color: #C19953;
}

.offers-card__title {
  margin: 0;
  font: inherit;
  font-size: 21px;
}

.offers-card__link {
  display: block;
  font-size: inherit;
  color: inherit;
  transition: color .4s;
}

.offers-card__link:hover {
  color: #C19953;
  text-decoration: none;
}

.offers-card__link:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.offers-card__media {
}

.offers-card__img {
  padding: 0 0 47.619047619%;
  display: block;
  position: relative;
  overflow: hidden;
}

.offers-card__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform .4s;
}

.offers-card:hover .offers-card__img img {
  transform: scale(1.04);
}

body.is-offers-opened .site-actions,
body.is-press-opened .site-actions {
  transform: translateY(400px);
}

.site-actions {
  transition: all .4s;
  transition-property: transform;
}

.main__offers,
.press {
  display: flex;
}

.offers__aside,
.press__aside {
  max-width: 205px;
  padding: 60px 18px;
  flex: 0 0 205px;
}

.offers__aside-router,
.press__aside-router {
}

.offers__main,
.press__main {
  padding: 50px 205px 70px 0;
  flex-grow: 1;
  overflow: auto;
}

.press__main {
  padding-right: 320px;
}

.offers__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers__header-logo {
  width: 70px;
  margin: 0 0 30px;
}

.offers__header-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.offers__header-title {
  min-width: 66%;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.offers__header-title:before,
.offers__header-title:after {
  background: currentColor;
  height: 2px;
  content: '';
  flex-grow: 1;
}

.offers__header-title:before {
  margin-right: 30px;
}

.offers__header-title:after {
  margin-left: 30px;
}

.offers__list {
  display: flex;
  gap: 30px 40px;
  flex-wrap: wrap;
}

.offers__list-card {
  max-width: calc(50% - 20px);
  flex: 0 0 calc(50% - 20px);
}

.extern-page {
  -webkit-transition-delay: 0.4s !important;
  transition-delay: 0.4s !important;
}

.extern-page.current {
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
}

.press {
}

.press__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.press__bg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.press__main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.press__header {
  margin: 0 0 25px;
  flex-shrink: 0;
}

.press__header-title {
  text-align: center;
}

.btn-slider-triangle {
  background: transparent;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: #C19953;
  transition: all .4s;
  position: relative;
  cursor: pointer;
}

.btn-slider-triangle:hover {
  opacity: .8;
}

.btn-slider-triangle:before {
  content: '';
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
}

.btn-slider-triangle:after {
  width: 0px;
  height: 0px;
  content: '';
  display: block;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent currentColor transparent;
}

.js-press-slider-btn-next:after {
  transform: scaleY(-1);
}

.js-press-slider-btn-prev,
.js-press-slider-btn-next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.js-press-slider-btn-prev {
  top: -36px;
}

.js-press-slider-btn-next {
  bottom: -36px;
}

.press-card {
  font-weight: 600;
  font-size: 16px;
  position: relative;
}

.press-card__media {
  margin: 0 0 30px;
  border: 1px solid #C19953;
  position: relative;
  overflow: hidden;
}

.press-card__img {
  padding: 0 0 106.779661017%;
  display: block;
  position: relative;
  overflow: hidden;
}

.press-card__img:before {
  background: rgba(0,0,0, .2);
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transition: background .4s;
  z-index: 1;
}

.press-card:hover .press-card__img:before {
  background: rgba(0,0,0, 0);
}

.press-card__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform .4s;
}

.press-card:hover .press-card__img img {
  transform: scale(1.04);
}

.press-card__logo-brand {
  width: 120px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.press-card__logo-brand img {
  width: 100%;
  height: auto;
  display: block;
}

.press-card__content {
  line-height: 1.25;
}

.press-card__title {
  margin: 0 0 1em;
  font: inherit;
  line-height: 1.25;
}

.press-card__link {
  display: block;
  font-size: inherit;
  color: #C19953;
  transition: color .4s;
}

.press-card__link:hover {
  text-decoration: none;
}

.press-card__link:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.press-card__description {
  line-height: 1.25;
}

.press-card__description p {
  margin: 0;
  font: inherit;
}

.press-slider {
  position: relative;
}

.press-slider__el {
}

.press-slider__slide {
}

.press__main {
  padding-bottom: 40px;
}

.press__body {
  margin: auto 0;
  padding: 40px 0;
  overflow: hidden;
}

.preloader {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  opacity: 1;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.preloader-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
}

.preloader-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/interior/img.webp") no-repeat 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.preloader__logo {
  max-width: 300px;
  z-index: 10;
}

.preloader__logo img {
  width: 100%;
}

#myDate.error {
  border: 3px solid #ff3a3a;
  -webkit-box-shadow: rgba(255, 0, 0, 0.8) 0px 2px 18px 2px;
  box-shadow: rgba(255, 0, 0, 0.8) 0px 2px 18px 2px;
}

@font-face {
  font-family: "latin-stix";
  src: url("latin-stix.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ierog-stix";
  src: url("ierog-stix.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.catalog__list div,
.catalog__category-decor {
  font-weight: initial;
  font-family: "latin-stix",
    "ierog-stix", sans-serif;
}

@media (max-width: 1199px) {
  .press__main {
    padding-right: 230px;
    display: block;
  }
  .offers__aside,
  .press__aside {
    max-width: 162px;
    flex-basis: 162px;
  }
  .js-press-slider-btn-prev,
  .js-press-slider-btn-next {
    display: none !important;
  }
  .press__body {
    padding: 0 0 40px;
  }
  .offers__list {
    gap: 20px;
  }
  .offers__main {
    padding-right: 162px;
  }
  .offers-card__header {
    margin-bottom: 10px;
  }
  .offers-card__date {
    margin-right: 20px;
  }
  .offers-card__title {
    font-size: 16px;
  }
  .offers__header-logo {
    display: none;
  }
}

@media (max-width: 1000px) {
  .press__main {
    padding-right: 260px;
  }
}

@media (max-width: 767px) {
  .offers__aside,
  .press__aside {
    position: absolute;
  }
  .press,
  .offers {
    overflow-y: auto;
  }
  .press__main,
  .offers__main {
    max-width: 68vw;
    padding: 50px 0 50px 20px;
    overflow: initial;
  }
  .press__header-title {
    margin-right: -30vw;
  }
  .press-card {
    font-size: 14px;
  }
  .press-card__media {
    margin-bottom: 20px;
  }
  .offers__list-card {
    max-width: 100%;
    flex-basis: 100%;
  }
  .offers__header {
    margin-right: -32vw;
  }
  .offers__header-title:before,
  .offers__header-title:after {
    display: none;
  }
  .offers {
    display: block;
  }
}

@media (max-width: 567px) {
  .offers-card__header {
    flex-wrap: wrap;
  }
  .offers-card__date {
    max-width: 100%;
    margin: 0 0 4px;
    flex: 0 0 100%;
  }
}